
{{log model}}

<section class="music-container">

  <section class= "main-playback">

    {{play-music}}

    {{title-artist}}

    {{song-scrubber}}

    {{track-details}}

  </section>

</section>

{{outlet}}
