
{{log model}}

<section class="music-container">

  <section class= "main-playback">

    {{play-music model=model}}

    {{title-artist model=model}}

    {{song-scrubber}}

    {{track-details model=model}}

  </section>

</section>

{{outlet}}
